<footer class="bg-light ">
<hr>
<div class="container d-md-flex py-4">
 <div class="me-md-auto text-center text-md-start">
  <div class="copyright">&copy; Copyright <strong><span>Rajeshwaris Coaching classes</span></strong>. All Rights Reserved
 </div>
 </div>
 <div class="social-links text-center text-md-right">
  <a href="https://www.facebook.com/rajeshwariscoachingclasses" class="facebook mx-3"><i class="bx bi-facebook"></i></a>
 <a href="https://bankcliq.com/" title="Best Credit Card Offers in India BankCliq" class="mx-2 text-decoration-none">BankCliq</a>
  <a href="https://easycalculator.org/"  title="Free Online Calculators Easy Calculator" class="mx-2 text-decoration-none">Easy Calculator</a>
    </div>
    </div>
  </footer>
 