<footer class="bg-light ">
  <hr>
     <div class="container d-md-flex py-4">
      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">&copy; Copyright <strong><span>Rajeshwaris Coaching classes</span></strong>. All Rights Reserved
        </div>
      </div>
      <div class="social-links text-center text-md-right">
        <a href="https://www.facebook.com/rajeshwariscoachingclasses" class="facebook mx-3"><i class="bx bi-facebook"></i></a>
        <a href="https://www.countryzipcode.com/" class="linkedin mx-2"><i class="bi bi-mailbox2-flag"></i></a>
        <a href="https://bankcliq.com/" class="linkedin mx-2"><i class="bi bi-credit-card"></i></a>
        <a href="https://smsheader.com/" class="linkedin mx-2"><i class="bi bi-chat-square-text"></i></a>
        <a href="https://ecalcify.com/" class="linkedin mx-2"><i class="bi bi-calculator"></i></a>
    </div>
    
    </div>
  </footer>
 