 <!-- ======= Footer ======= -->
 <footer id="footer">
    <div class="footer-top">
      <div class="container">
       
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Rajeshwaris Coaching classes</span></strong>. All Rights Reserved
        </div>
      
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://www.facebook.com/rajeshwariscoachingclasses" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.countryzipcode.com/" class="linkedin"><i class="bi bi-mailbox2-flag"></i></a>
        <a href="https://bankcliq.com/" class="linkedin"><i class="bi bi-credit-card"></i></a>
        <a href="https://smsheader.com/" class="linkedin"><i class="bi bi-chat-square-text"></i></a>
        <a href="https://ecalcify.com/" class="linkedin"><i class="bi bi-calculator"></i></a>


      </div>
    </div>
  </footer><!-- End Footer -->

  <!-- <div id="preloader"></div> -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/purecounter_vanilla.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/swiper-bundle.min.js' | relative_url }}"></script>