 .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 35px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 30px;
    border: 2px solid #fff;
    color: #fff;
}

.half-page {
    height: 40vh;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-title {
    padding-bottom: 40px;
  }
  
  .section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
  }
  
  .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #9ae1af;
    margin: 4px 10px;
  }
  
  .section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #37423b;
  }


.breadcrumbs {
    margin-top: -10px;
    text-align: center;
    background: #5fcf80;
    padding: 40px 0;
    color: #fff;
    
  }
  .gallery {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;
    background: #f9f9f9;
}
.gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.desc {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}